body {
  background: rgb(181, 222, 241);
}
a {
  color: rgb(169, 110, 224);
  margin-right: 10px;
}
.logo {
  max-width: 8%;
  display: block;
  margin: 20px auto;
}
.footer {
  margin: 30px 0;
  color: rgb(97, 97, 100);
  font-weight: 500;
}
