.dictionary section {
  background-color: rgb(249, 245, 240);
  padding: 20px 20px;
  margin: 15px;
  border-radius: 8px;
  box-shadow: 0px 5px 5px rgb(140, 142, 142);
}
.dictionary input {
  padding: 6px;
  border: 2px solid #ddd;
  border-radius: 4px;
  color: #333;
}
.dictionary .search {
  width: 70%;
  margin-right: 5px;
}
.dictionary .submit {
  width: 25%;
}
.word {
  text-transform: capitalize;
  opacity: 0.9;
}
